<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="Nuevo Cliente" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
        <p-button severity="secondary" label="Borrar Cliente" icon="pi pi-trash" outlined (onClick)="deleteSelectedClients()" [disabled]="!selectedClients || !selectedClients.length" />
    </ng-template>

    <ng-template #end>
        <p-button label="Export" icon="pi pi-upload" severity="secondary" />
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="clients()"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="[]"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedClients"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} clients"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Administrar Cliente</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="width: 10%"><p-tableHeaderCheckbox /></th>
            <th style="width: 20%">Nombre</th>
            <th style="width: 20%">Contacto</th>
            <th style="width: 20%">Telefono</th>
            <th></th>
        </tr>
        <tr>
            <th></th>
            <th>
                <p-columnFilter type="text" field="nombre" placeholder="Buscar" ariaLabel="Filtrar Nombre" filterOn="input"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="contacto" placeholder="Buscar" ariaLabel="Filtrar Contacto" filterOn="input"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="telefono" placeholder="Buscar" ariaLabel="Filtrar Telefono" filterOn="input"></p-columnFilter>
            </th>
        </tr>
    </ng-template>

    <ng-template #body let-client>
        <tr>
            <td>
                <p-tableCheckbox [value]="client" />
            </td>
            <td>{{ client.nombre }}</td>
            <td>{{ client.contacto }}</td>
            <td>{{ client.telefono }}</td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editProduct(client)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteProduct(client)" />
            </td>
        </tr>
    </ng-template>
</p-table>


<p-dialog [(visible)]="clientDialog" [style]="{ width: '450px' }" header="Detalles Cliente" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-6">            
            <div>
                <label for="nombre" class="block font-bold mb-3">Nombre</label>
                <input type="text" pInputText id="nombre" [(ngModel)]="client.nombre" required autofocus fluid />
                <small class="text-red-500" *ngIf="submitted && !client.nombre">Nombre es requerido.</small>
            </div>
             <div>
                <label for="telefono" class="block font-bold mb-3">Telefono</label>
                <input type="text" pInputText id="telefono" [(ngModel)]="client.telefono" required autofocus fluid />
                <small class="text-red-500" *ngIf="submitted && !client.telefono">El telefono es requerido.</small>
            </div>

             <div>
                <label for="contacto" class="block font-bold mb-3">Contacto</label>
                <input type="text" pInputText id="contacto" [(ngModel)]="client.contacto" required autofocus fluid />
                <small class="text-red-500" *ngIf="submitted && !client.contacto">El contacto es requerido.</small>
            </div>

            
            
        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancelar" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Guardar" icon="pi pi-check" (click)="saveProduct()" />
    </ng-template>
</p-dialog>
