<p-toast></p-toast>
<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="New" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
        <p-button severity="secondary" label="Delete" icon="pi pi-trash" outlined (onClick)="deleteSelectedProducts()" [disabled]="!selectedClients || !selectedClients.length" />
    </ng-template>


</p-toolbar>

<p-table
    #dt
    [value]="clients()"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="['nombre', 'nombre_facturacion', 'telefono','contacto']"
    [tableStyle]="{ 'min-width': '65rem' }"
    [(selection)]="selectedClients"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} clientes"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Manage Products</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            <th pSortableColumn="nombre" style="min-width: 16rem">
                Nombre
                <p-sortIcon field="nombre" />
            </th>
            <th pSortableColumn="telefono" style="min-width: 10rem">
                telefono
                <p-sortIcon field="telefono" />
            </th>
            <th pSortableColumn="contacto" style="min-width: 10rem">
                contacto
                <p-sortIcon field="contacto" />
            </th>
        </tr>
    </ng-template>
    <ng-template #body let-client>
        <tr>
            <td style="width: 3rem">
                <p-tableCheckbox [value]="client" />
            </td>
            <td style="min-width: 12rem">{{ client.nombre }}</td>
            <td style="min-width: 12rem">{{ client.telefono }}</td>
            <td style="min-width: 12rem">{{ client.contacto }}</td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editClient(client)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteClient(client)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="clientDialog" [style]="{ width: '450px' }" header="Product Details" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-6">
            <div>
                <label for="nombre" class="block font-bold mb-3">Nombre</label>
                <input type="text" pInputText id="contacto" [(ngModel)]="client.nombre" required autofocus fluid />
                <small class="text-red-500" *ngIf="submitted && !client.nombre">Nombre es requerido.</small>
            </div>
            <div>
                <label for="telefono" class="block font-bold mb-3">Telefono</label>
                <input type="text" pInputText id="telefono" [(ngModel)]="client.telefono" required autofocus fluid />
                <small class="text-red-500" *ngIf="submitted && !client.telefono">Telefono es requerido.</small>
            </div>
            <div>
                <label for="contacto" class="block font-bold mb-3">Contacto</label>
                <input type="text" pInputText id="contacto" [(ngModel)]="client.contacto" required autofocus fluid />
                <small class="text-red-500" *ngIf="submitted && !client.contacto">Contacto es requerido.</small>
            </div>
        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Save" icon="pi pi-check" (click)="saveClient()" />
    </ng-template>
</p-dialog>

<p-confirmdialog [style]="{ width: '450px' }" />
